In [1]:
import pandas as pd

In [2]:
#Wrangling----------------------------------------------------------------------------------------------------------------------

In [7]:
#Merge datasets

# Load the datasets
customer_profiles = pd.read_csv("customer_profiles.csv")
ad_events = pd.read_csv("ad_events.csv")

# Check for and handle duplicates in both datasets
customer_profiles = customer_profiles.drop_duplicates(subset='id', keep='first')
ad_events = ad_events.drop_duplicates(subset='customer', keep='first')

# Merge the datasets on the 'id' and 'customer' columns using outer join
df0 = pd.merge(customer_profiles, ad_events, left_on='id', right_on='customer', how='outer')

# Drop the duplicate 'customer' column
df0 = df0.drop('customer', axis=1)

# Save the merged dataset as a csv file
#df.to_csv("df.csv", index=False)

In [13]:
#split numerical parts of dataframe
df=((((df0.drop('id', axis=1)).drop('home_state', axis=1)).drop('event', axis=1)).drop('event_info', axis=1))
#make float dataset:
df1={}
#Make empty columns so that you can append wrangled data in them
for taco2 in df:
    if taco2=="became_member_on (year month day)":
        df1["year"]=[]
        df1["month"]=[]
        df1["day"]=[]
    else:
        df1[taco2]=[]

#-------------------------------------------------------------------------------------------------------------------------------

for taco in range(len(df[taco2])):
    #gender
    if df["gender"][taco]=="F":
        df1["gender"].append(0.0)
    elif df["gender"][taco]=="M":
        df1["gender"].append(1.0)
    else:
        df1["gender"].append(.5)
    #ever_married
    if df["ever_married"][taco]=="No":
        df1["ever_married"].append(0.0)
    elif df["ever_married"][taco]=="Yes":
        df1["ever_married"].append(1.0)
    else:
        df1["ever_married"].append(.5)
    
    #became_member_on (year month day)
    time=str(df["became_member_on (year month day)"][taco])
    if time=="nan":
        df1["year"].append(0)
        df1["month"].append(0)
        df1["day"].append(0)
    else:
        df1["year"].append(float(time[0]+time[1]+time[2]+time[3]))
        df1["month"].append(float(time[4]+time[5]))
        df1["day"].append(float(time[6]+time[7]+time[8]+time[9]))
    
    
    #---------------------------------------------------------------------------------------------------------------------------
    
    

    
    #time
    df1["time"].append(float(df["time"][taco]))
    #age
    if str(df["age"][taco])=="nan":
        df1["age"].append(54.39352445193929)
    else:
        df1["age"].append(float(df["age"][taco]))
    #income
    if str(df["income"][taco])=="nan":
        df1["income"].append(65404.9915682968)
    else:
        df1["income"].append(float(df["income"][taco]))
    #kids
    if str(df["kids"[taco]])=="nan":
        df1["kids"].append(1.6907925801011805)
    else:
        df1["kids"].append(float(df["kids"][taco]))
df=pd.DataFrame(df1)

KeyError: 'k'

In [12]:
(df0["kids"]).mean()

1.6907925801011805

In [6]:
df.info()
df.head()

   gender   age    year  month   day    income  ever_married  kids  time
0     0.0  55.0  2017.0    7.0  15.0  112000.0           0.0   3.0  18.0
1     0.0  75.0  2017.0    5.0   9.0  100000.0           1.0   0.0   0.0
2     1.0  68.0  2018.0    4.0  26.0   70000.0           1.0   3.0   0.0
3     1.0  65.0  2018.0    2.0   9.0   53000.0           1.0   5.0   0.0
4     1.0  58.0  2017.0   11.0  11.0   51000.0           1.0   5.0   0.0

In [ ]:
#KMeans--------------------------------------------------------------------------------------------------------------------

In [ ]:
#1get data
#df = pd.read_csv("demo.csv")
df.describe()

In [ ]:
# Import stuff needed
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
from sklearn.cluster import KMeans

In [ ]:
#Scale down data
scaled_df = pd.DataFrame(scaler.fit_transform(df))

In [ ]:
#make inertias stuff
inertias = []
for cluster in range(1,100):
    kmeans = KMeans(n_clusters=cluster)
    kmeans.fit(scaled_df)
    inertias.append(kmeans.inertia_)

In [ ]:
#Make dataframe from different inertias
frame = pd.DataFrame({"Clusters":range(1,100), "Inertias": inertias})

In [ ]:
#3 View it

import seaborn as sns
sns.lineplot(data=frame, x="Clusters", y="Inertias")

In [ ]:
#
kmeans = KMeans(n_clusters=6)
kmeans.fit(scaled_df)
predictions = kmeans.predict(scaled_df)

#get the centers
centers = kmeans.cluster_centers_
unscaled_centers = scaler.inverse_transform(centers)