In [1]:
import pandas as pd

In [6]:
#Merge datasets

# Load the datasets
customer_profiles = pd.read_csv("customer_profiles.csv")
ad_events = pd.read_csv("ad_events.csv")

# Check for and handle duplicates in both datasets
customer_profiles = customer_profiles.drop_duplicates(subset='id', keep='first')
ad_events = ad_events.drop_duplicates(subset='customer', keep='first')

# Merge the datasets on the 'id' and 'customer' columns using outer join
df = pd.merge(customer_profiles, ad_events, left_on='id', right_on='customer', how='outer')

# Drop the duplicate 'customer' column
df = df.drop('customer', axis=1)

# Save the merged dataset as a csv file
#df.to_csv("df.csv", index=False)

In [4]:
df.head()

,gender,age,id,became_member_on (year month day),income,ever_married,kids,home_state,event,event_info,time
0,F,55.0,0610b486422d4921ae7d2bf64640c50b,20170715.0,112000.0,No,3.0,North Dakota,transaction,{'amount': 21.51},18
1,F,75.0,78afa995795e4d85b5d9ceeca43f5fef,20170509.0,100000.0,Yes,0.0,Florida,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
2,M,68.0,e2127556f4f64592b11af22de27a7932,20180426.0,70000.0,Yes,3.0,Florida,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,M,65.0,389bc3fa690240e798340f5a15918d5c,20180209.0,53000.0,Yes,5.0,Missouri,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0
4,M,58.0,2eeac8d8feae4a8cad5a6af0499a211d,20171111.0,51000.0,Yes,5.0,South Dakota,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17000 entries, 0 to 16999
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             14825 non-null  object
 1   age                                14825 non-null  float64
 2   id                                 14825 non-null  object
 3   became_member_on (year month day)  14825 non-null  float64
 4   income                             14825 non-null  float64
 5   ever_married                       14825 non-null  object
 6   kids                               14825 non-null  float64
 7   home_state                         14825 non-null  object
 8   event                              17000 non-null  object
 9   event_info                         17000 non-null  object
 10  time                               17000 non-null  int64
dtypes: float64(4), int64(1), object(6)
memory usage: 1.6+ MB